player-connection-mode=Listen
player-connection-guid=2656966603
player-connection-debug=0
player-connection-project-name=Gladiator's Ultimatum
player-connection-ip=192.168.42.245
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=02c1e761741f4cd490d0b1eada2bec66
